name: CI

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  test-go:
    name: Test Go Solutions
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: ['1.21', '1.22']
    
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
      
      - name: Go version
        run: go version
      
      - name: Install dependencies
        working-directory: ./go
        run: go mod download
      
      - name: Run tests
        working-directory: ./go
        run: go test -v -race ./...
      
      - name: Run vet
        working-directory: ./go
        run: go vet ./...

        